@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Montserrat", sans-serif;

    /* custom container size */
    --container-max: 1360px;
}

@layer utilities {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--container-max);
    }
}

:root {
    --color-primary: #0c63e2;
    --color-primary-dark: #034db8;
    --color-secondary: #edce68;
    --color-secondary-dark: #ceb665;
}
